export/imagens/*
export/processados/*
image/processar/*
image/testes/*
logs/*
web/done
web/exec
web/assets
web/protected/runtime
do/finalizados/1*
operation_log.txt
*.db
data/*.jpg
data/template/*
data/runtime/*
dev
runtime
debug